<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
 
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
    {{>header}} 
</header>
<body>
    <p>This site was created by Naveed Wani. It uses data from Weather Stack and Mapbox!!  </p>
    <div class="main-content">
    <img class="portrait" src="/img/dp_1.jpg" alt="dp_1"> 
    </div>
</body>
<footer>
    {{>footer}}
</footer>
</html>