<!DOCTYPE html>
<html lang="en">
<head>
   <title>404</title>
   <link rel="icon" href="/img/weather-icon.png">
  
   <link rel="stylesheet" href="/css/styles.css">
   
</head>
<header>

    {{>header}}
</header>
<body>
   <div class="main-content">
      <p> {{msg}}</p>
   </div>
</body>
<footer>
   {{>footer}}
</footer>
</html>